[Unit]
Description=Clean FreeRADIUS radacct table
After=network.target

[Service]
Type=oneshot
DynamicUser=yes
RuntimeDirectory=clean-radacct
WorkingDirectory=/srv/vpn-scripts/google-sheets-dhcp-generator/scripts/clean_radacct
ExecStart=/srv/vpn-scripts/vpn-acct-scripts/vpn-flask/venv/bin/python3 clean_radacct.py -l /tmp/clean_radacct.log

[Install]
WantedBy=multi-user.target
